extends ../layout.pug

block content 
    .row
        .col-md-6.offset-md-3.col-12
            form(action="/users/update", method="POST")
                .form-group
                    label Nombre 
                    input.form-control(type="text", name="nombre", value=user.nombre)
                .form-group
                    label Apellidos 
                    input.form-control(type="text", name="apellidos", value=user.apellidos) 
                .form-group
                    label Dirección 
                    input.form-control(type="text", name="direccion", value=user.direccion) 
                .form-group
                    label Edad 
                    input.form-control(type="text", name="edad", value=user.edad) 
                .form-group
                    label Email 
                    input.form-control(type="text", name="email", value=user.email) 
                .form-group
                    label Sexo
                    select#selectSexo.form-control(name="sexo")
                        option Selecciona el sexo
                        option(value="M") masculino 
                        option(value="F") femenino 
                .form-group
                    label Cuota 
                    input.form-control(type="text", name="cuota", value=user.cuota) 
                input(type="hidden", name="id", value=user.id)
                input.btn.btn-block.btn-info(type="submit", value="Enviar")
    script.
        const sexo = "#{user.sexo}";
        const options = document.querySelectorAll('#selectSexo option');
        for(let option of options){
            if(option.value === sexo){
                option.selected = true;
            }    
        }